
/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
    .home-container{
       margin-top: 15vw;
       font-size: 5vw;
       font-weight: 600;
       line-height: 8vw;
       a{
        text-decoration: none;
       }
      
       
    }
}

/* PC*/
@media screen and (min-width : 1024px) {
   
}