
/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
    .DangHoanThien{
        position: relative;
        top: 30vw;
        // width: 100vw;
        border: #04aa6d solid 0.3vw;
        padding: 5vw;
        border-radius: 5vw;
        margin: 6vw;
        box-shadow: 13px 11px 27px 0px rgba(4,170,109,0.75);
        -webkit-box-shadow: 13px 11px 27px 0px rgba(4,170,109,0.75);
        -moz-box-shadow: 13px 11px 27px 0px rgba(4,170,109,0.75);
        .capnhatthongtin{
            text-align: center;
                background-color: #04aa6d;
                font-size: 5vw;
                font-weight: 600;
                 padding: 2vw;
                border-radius: 3vw;
        }
    }
}

/* PC*/
@media screen and (min-width : 1024px) {
    .DangHoanThien{
        position: relative;
        top: 15vw;
        // width: 100vw;
        border: #04aa6d solid 0.3vw;
        padding: 2vw;
        border-radius: 3vw;
        margin: 6vw;
        box-shadow: 13px 11px 27px 0px rgba(4,170,109,0.75);
        -webkit-box-shadow: 13px 11px 27px 0px rgba(4,170,109,0.75);
        -moz-box-shadow: 13px 11px 27px 0px rgba(4,170,109,0.75);
        .capnhatthongtin{
            text-align: center;
                background-color: #04aa6d;
                font-size: 3vw;
                font-weight: 600;
                 padding: 1vw;
                border-radius: 2vw;
        }
    }
}