
/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
    .container-header2{
        display: none;
    }
    .container-header {
        a{text-decoration: none;}
        display: flex;
        top: 0px;
        z-index: 1;
        position: fixed;
        background-image: 
        linear-gradient(
            to bottom,
            #04aa6d,
            #04aa6d
        );
        width: 100vw;
        justify-content: center;
        align-items: center;
        .container-logo {
            text-align: center;
            margin: 0px auto;
            width: 20%;
            cursor: pointer;
            .logo {
            width: 5vw;
            height: 5vw;
            padding: 0.2vw;
            background-color: #fff;
            border-radius: 50%;
            margin: 0.4vw auto 0.2vw auto;
            object-fit: cover;
            
           
            }
            .tongSoLuong{
                color: #f2f2f2;
                font-size: 2.5vw;
                font-weight: 600;
                padding: 0.5vw 0.8vw;
               

            }
        
            .my-cash2 {
                max-width: 90%;
                margin: 0.2vw auto 0.4vw auto;
                border-radius: 0.5vw;
                color: #e6f702;
                background-color: #ff0000;
                font-size: 2vw;
                border: solid 2.5px red;
                
            }
        }
        .title2{
            // color: #ffe761;
         color:#fff;
            font-size: 3.5vw;
            font-weight: 600;
            min-width: 60%;
            text-align: center;
         
         
            text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
            text-transform: uppercase;
        }
        
        .title {
            // color: #ffe761;
            color:#fff;
            font-size: 3.5vw;
            font-weight: 600;
            min-width: 60%;
            text-align: center;
            text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
            text-transform: uppercase;
            
           
        }
        .my-detail {
            a{text-decoration: none;}
            width: 20%;
            text-align: center;
            justify-content: center;
           
            .my-avatar {
                width: 5vw;
                height: 5vw;
                padding: 0.2vw;
                background-color: #fff;
                border-radius: 50%;
                margin: 0.4vw auto 0.2vw auto;
                object-fit: cover;
               
            }
            .my-cash {
                display: flex;
                max-width: 90%;
                margin: 0.2vw auto 0.4vw auto;
                border-radius: 0.5vw;
                color: #e6f702;
                background-color: #ff0000;
                padding: 0px 10%;
                align-items: center;
                justify-content: center;
                border: solid 2.5px red;
                .dangNhap{
                border-radius: 0.5vw;
                color: #e6f702;
                font-size: 2vw;
                }
                .my-cash-title {
                    color: #e6f702;
                    max-width: 80%;
                    font-size: 2vw;
                }
                .gold {
                    width: 1.5vw;
                    height: 1.5vw;
                    max-width: 20%;
                    margin: 0px 0.4vw;
                }
            }
        }
    }
}

/* PC*/
@media screen and (min-width : 1024px) {
    .container-header{
        display: none;
    }
    .container-header3 {
        display: none;
    }
}
@media print {
    .container-header{
        display: none;
        .title{
            display: none;

        }
    }
    .container-header3 {
        display: none;
    }
    .container-header2 {
        display: none;
    }
  
}