.ThayPassword{
    margin-top: 20vw;
    font-size: 3.5vw;
        font-weight: 600;
        a{
            text-decoration: none;
            color: #fff;
            font-size: 3.5vw;
        font-weight: 600;
        }
    .login-container{
        
        line-height: 6vw;
        .login-title{
            font-size: 6vw;
            font-weight: 600;
            margin: 5vw auto;
        }
        .baoLoi{
            color: red;
            font-size: 3.5vw;
        }
        .labelDangNhap{
            margin-bottom: 1vw;
            margin-top: 3vw;

        }
        .inputDangNhap{
            width: 70vw;
            // margin-top: 3vw;
            text-align: center;

        }
        .quayLai{
            margin: 5vw;
            cursor: pointer;
            border-radius: 1vw;
            width: 30vw;
            background-color: #04aa6d;
            color: #fff;

        }
        .buttonDangNhap{
            margin: 5vw;
                    cursor: pointer;
                    border-radius: 1vw;
                    width: 30vw;
                    background-color: #04aa6d;
                    color: #fff;
                    font-size: 3.5vw;
                    font-weight: 600;

        }
    }
}
.doiMatKhauThanhCong{
    margin-top: 20vw;
    
    .thanhCong{
    font-size: 5vw;
    font-weight: 600;

    }
    .dangNhapLai{

        margin: 5vw;
                    cursor: pointer;
                    border-radius: 1vw;
                    width: 35vw;
                    font-size: 3.5vw;
                    font-weight: 600;
                    background-color: red;
                    color: #fff;
    }
}