 /* Mobile & Tablet */
 @media screen and (max-width : 1023px) {
  .view{
     .mobile{
       .ThuNghiem-ConTaiNer{
        margin-top: 10vw;
        font-size: 8vw;     
       }
     }
     .pc{
       display: none;
     }
   }
   
 }
 
  /* Pc */
  @media screen and (min-width : 1024px) {
   .view{
      .mobile{
        display: none;
      }
      .pc{
        .ThuNghiem-ConTaiNer{
      }
    }
    
  }
  }
  