

/* Mobile & Tablet */
@media screen and (max-width : 1023px) {

  .ChiTietDonHangMua-Container{
    a{text-decoration: none};
    font-size: 3vw;
    .quayLai-tieuDe{
      display: flex;
      font-size: 3.5vw;
      background-color: #fff;
      border-bottom: #d0d4dd 1px solid;
      position: fixed;
  
      top: 0px;
        z-index: 1;
      a{
          text-decoration: none;
      }
      .quayLai{
          color: #04aa6d;
          width: 25vw;
          text-align: left;
          line-height: 9vw;
          padding-left: 2vw;
         
      }
      .tieuDe{
        font-size: 3.9vw;
          font-weight: 600;
          color: red;
          text-align: center;
          width: 75vw;
          line-height: 9vw;
          text-transform: uppercase;
          padding-right: 25vw;

      }
  }

  .allSanPham{
    margin:12vw 2vw 5vw;
    .sanPham{
     margin-bottom: 3vw;
      .tenSanPham-xoa{
        .tenSanPham{
          width: 90vw;
          text-align: left;
            font-size: 3.5vw;
            font-weight: 600;
            margin-bottom: 2vw;
            color: red;
            text-transform: uppercase;
            line-height: 3vw;
    
         }
       
      }
    
    .dacDiem-themGioHang{
    display: flex;
    margin: 2vw auto;
    .anhSp-tenSp{
      width: 20%;
    
      .tenSp{
        font-size: 3.5vw;
        font-weight: 500;
        word-wrap: break-word;
        line-height: 5vw;
      }
      .gioPhut{
        color: red;
        font-size: 2.5vw;
        line-height: 5vw;
        line-height: 5vw;
      }
    }
    .giaSanPham{
      width: 30%;
      .giaKM{
        font-size: 3.5vw;
        font-weight: 500;
        color: red;
        line-height: 5vw;
      }
      .giaNY-giamGia{
        display: flex;
        gap: 1vw;
        justify-content: center;
        align-items: center;
        .giaNY{
          text-decoration: line-through;
          font-size: 2.5vw;
          line-height: 5vw;
    
        }
        .giamGia{
          font-size: 2vw;
          line-height: 5vw;
    
        }
      }
     
    }
    .soLuong-SL{
      width: 15%;
      justify-content: center;
        align-items: center;
      
      .soLuong{
        font-size: 2.5vw;
        line-height: 5vw;
      }
      .SL{
        width: 90%;
        text-align: center;
        font-weight: 600;
        font-size: 3.5vw;
        border-radius: 1vw;
        line-height: 5vw;
    
      }
    
    }
    .thanhTien-TT{
      // border: solid 1px gray;
      // margin: 3.3vw auto;
      width: 26%;
     
      .thanhTien{
        justify-content: center;
        align-items: center;
        font-size: 2.5;
        line-height: 5vw;
      }
      .TT{
        text-align: center;
        font-weight: 600;
        font-size: 3.5vw;
        justify-content: center;
        align-items: center;
        line-height: 5vw;
      }
    }
    .daXong{
      width: 9%;
     
      font-size: 5vw;
      line-height: 10vw;
    
    
    }
    .chuaXong{
      width: 9%;
    
      font-size: 8vw;
      line-height: 10vw;
    
    }
    
    }
    }
  }
 
.tinhTien{
  border-top: solid 1px gray;
  margin:  2vw;
  .tongTien{
    display: flex;
    font-size: 3.5vw;
    line-height: 8vw;
    gap: 25%;
    .tieude{
      width: 35%;
      text-align: right;
      line-height: 6vw;
    }
    .sotien{
      width: 35%;
      text-align: center;
      line-height: 6vw;
      height: 6vw;
    }
  }

}
.thongTinNguoiNhan{
  text-align: left;
  font-size: 3.5vw;
  font-weight: 600;
  margin: 5vw 2vw 2vw;
  color: #04aa6d;
}
.phancach{
  font-size: 3.5vw;

  .thongTinChiTiet{
    display: flex;
    gap:5vw;
    .tieuDe{
      width: 25vw;
      text-align: right;
      font-size: 3.5vw;
      line-height: 5vw;
    }
    .noiDung{
      font-size: 3.5vw;
      line-height: 5vw;
      width: 62vw;
      text-align: left;
    }
  }
}
.thanhToanQrCode-container{
  margin: 5vw 2vw 2vw;
  .thanhToanQr{
      text-align: left;
      font-size: 3.5vw;
      font-weight: 600;
      margin: 0vw 2vw;
      color: #04aa6d;
  }
  .qr{
    width: 96vw;
    object-fit: cover;
    // border: solid 1px gray;
  } 
}
.muaLai2{
  display: block;
width: 35vw;
line-height: 8vw;
color: #fff;
font-size: 3.5vw;
font-weight: 600;
background-color: #04aa6d;
border-radius: 1vw;
margin: 5vw 35vw 30vw;
}

    
}
}

/* PC*/
@media screen and (min-width : 1024px) {
    .ChiTietDonHangMua-ConTaiNer{
        
    }
}