

/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
    .container-myDetail {
        text-align: center;
        .thongTinCaNhan {
            .bannerThongTinCaNhan {
                width: 100vw;
                height: 40vw;
                object-fit: cover;
                position: relative;
            }
            .myDetail-avatar-hoTen-cauNoiTamDac {
               
                .myDetail-avatar {
                    width: 16.8vw;
                    height: 16.8vw;
                    object-fit: cover;
                    position: absolute;
                    border-radius: 50%;
                    top: 35vw;
                    left: 12vw;
                }
                .myDetail-hoTen {
                    margin-bottom: 3vw;
                    margin-top: 5vw;
                    padding-left: 30.5vw;
                    text-align: left;
                    display: block;
                    font-size: 5vw;
                    font-weight: 600;
                }
            }
            .Container-myTieuChi-myNoiDung {
                display: flex;
                margin-top: 5vw;
                .myTieuChi {
                    border-bottom: solid 0.1vw rgb(143, 140, 140);
                    width: 40%;
                    font-size: 3vw;
                }
                .myNoiDung {
                    text-align: center;
                    border-bottom: solid 0.1vw rgb(143, 140, 140);
                    width: 60%;
                }
                .myNoiDung2 {
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-bottom: solid 0.1vw rgb(143, 140, 140);
                    width: 60%;
                    display: flex;
                }
            }
            .fabysa{
                padding: 2vw;
                color: #fff;
                border-radius: 1vw;
                background-color: #04aa6d;
                width: 90vw;
                text-align: center;
                font-size: 3.5vw;
                border: none;
                margin: 5vw 0vw;
                font-weight: 600;
            }
            .tiepTucMuaHang{
                text-decoration: none;
                border-radius: 1vw;
                color: #fff;
                        font-size: 3vw;
                        font-weight: 600;
                        cursor: pointer;
                        background-color: #04aa6d;
                        padding: 1vw;
                        margin: 5vw;
                        width: 40vw;
            }
            .quanLyShop-container{
                a{text-decoration: none;}
                margin-bottom: 10vw;
               
               .quanLyGianHang{
                font-size: 3.5vw;
                font-weight: 600;
               }
               .quanLyShop{
                border: solid 1px gray;
                margin: 5vw 2vw 3vw 2vw;
                border-radius: 1vw;
                .tenShop{
                    font-size: 5vw;
                    font-weight: 600;
                    border-radius: 1vw;
                    color: red;
                    word-wrap:break-word;
                overflow:auto;
                padding-top: 2vw;

                    
                }
                .tieuDeNoiDung{
                    max-width: 98vw;
                 
                    display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                margin: 2vw 2vw;
        gap: 2vw;
                justify-content: center;
                align-items: center;
                .khoShop{
                    font-size: 2.5vw;
                    font-weight: 500;
                    background-color: #04aa6d;
                    border: solid 10px #04aa6d;
                    color: #fff;
                    // margin: 2vw 1vw;
                    border-radius: 1vw;
                    cursor: pointer;
                }
                
                }  

               }
                  
               
              
                
            }
            
    
            .suaThongTin {
                margin-bottom: 2vw;
                cursor: pointer;
                border-radius: 1vw;
                width: 25vw;
                margin-right: 20%;
                margin-top: 5vw;
                background-color: #04aa6d;
                color: #fff;
            }
            .dangXuat {
                cursor: pointer;
                border-radius: 1vw;
                width: 25vw;
                background-color: #ff0000;
            }
        }
    }
}

/* PC*/
@media screen and (min-width : 1024px) {
    .container-myDetail {
        text-align: center;
        .thongTinCaNhan {
            .bannerThongTinCaNhan {
                width: 100vw;
                height: 25vw;
                object-fit: cover;
                position: relative;
            }
            .myDetail-avatar-hoTen-cauNoiTamDac {
               
                .myDetail-avatar {
                    width: 8vw;
                    height: 8vw;
                    object-fit: cover;
                    position: absolute;
                    border-radius: 50%;
                    top: 23vw;
                    left: 12vw;
                }
                .myDetail-hoTen {
                    margin-bottom: 1.5vw;
                    margin-top: 4vw;
                    padding-left: 20.5vw;
                    text-align: left;
                    display: block;
                    font-size: 2vw;
                    font-weight: 600;
                }
            }
            .Container-myTieuChi-myNoiDung {
                display: flex;
                margin-top: 1.5vw;
                .myTieuChi {
                    border-bottom: solid 0.1vw rgb(143, 140, 140);
                    width: 40%;
                    font-size: 1.5vw;
                }
                .myNoiDung {
                    text-align: center;
                    border-bottom: solid 0.1vw rgb(143, 140, 140);
                    width: 60%;
                    font-size: 1.5vw;
                }
                .myNoiDung2 {
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-bottom: solid 0.1vw rgb(143, 140, 140);
                    width: 60%;
                    display: flex;
                    font-size: 1vw;
                }
            }
            .tiepTucMuaHang{
                text-decoration: none;
                border-radius: 1vw;
                color: #fff;
                        font-size: 2vw;
                        font-weight: 600;
                        cursor: pointer;
                        background-color: #04aa6d;
                        padding: 1vw;
                        margin: 1vw;
            }
            .quanLyShop-container{
                a{text-decoration: none;}
                margin-top: 1vw;
                margin-bottom: 1vw;
              .tieuDeNoiDung{
                border: solid 1px red;
                display: grid;
            grid-template-columns:1fr 1fr 1fr 1fr 1fr;
               
              }
                
    
          
    
               
               
                
                
            }
            
    
            .suaThongTin {
                margin-bottom: 1vw;
                cursor: pointer;
                font-size: 1.5vw;
                border-radius: 1vw;
                width: 15vw;
                margin-right: 20%;
                margin-top: 1vw;
                background-color: #04aa6d;
                color: #fff;
                padding: 0.5vw;
            }
            .dangXuat {
                cursor: pointer;
                padding: 0.5vw;
                font-size: 1.5vw;
                border-radius: 1vw;
                width: 15vw;
                background-color: #ff0000;
            }
        }
    }
}