

/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
  .view{
    .mobile{
      font-size: 3.5vw;
      .XacNhanTaiKhoan-ConTaiNer{
        .quayLai-tieuDe{
          display: flex;
          font-size: 3.5vw;
          background-color: #fff;
          border-bottom: #d0d4dd 1px solid;
          position: fixed;
      
          top: 0px;
            z-index: 1;
          a{
              text-decoration: none;
          }
          .quayLai{
              color: #04aa6d;
              width: 25vw;
              text-align: left;
              line-height: 9vw;
              padding-left: 2vw;
             
          }
          .tieuDe{
            font-size: 3.9vw;
              font-weight: 600;
              color: red;
              text-align: center;
              width: 75vw;
              line-height: 9vw;
              text-transform: uppercase;
              padding-right: 25vw;
    
          }
      }
      
      .allGiaoDich{
        margin: 12vw 2vw auto;
        .chiTiet{
        border-bottom: solid 1px #d0d4dd ;
         font-size: 3.5vw;
         margin-bottom: 2vw;
          .thoiGian{
          line-height: 6vw;
          text-align: left;
          }
          .soTien-noiDung{
            display: flex;
            .soTien{
              width: 25vw;
              font-weight: 600;
              line-height: 6vw;
              text-align: left;
              color: red;
              span{
                font-weight: 600;
                line-height: 6vw;
                text-align: center;
                color: #04aa6d;
                text-decoration-line:overline;
                text-decoration-color:red;
                text-decoration-style:double;
              }
            }
            .chuTk{
              width: 46vw;
            }
            .sdtTk{
              width: 25vw;
              text-align: right;
            }
           
        
         
    
        }
        }
      }
      }
      .chiTietGiaoDich{
        .quayLai-tieuDe{
          display: flex;
          font-size: 3.5vw;
          background-color: #fff;
          border-bottom: #d0d4dd 1px solid;
          position: fixed;
      
          top: 0px;
            z-index: 1;
          a{
              text-decoration: none;
          }
          .quayLai{
              color: #04aa6d;
              width: 25vw;
              text-align: left;
              line-height: 9vw;
              padding-left: 2vw;
             
          }
          .tieuDe{
            font-size: 3.9vw;
              font-weight: 600;
              color: red;
              text-align: center;
              width: 50vw;
              line-height: 9vw;
              text-transform: uppercase;
              
    
          }
      }
      .thongTinTaiKhoan{
        margin: 12vw 2vw auto;
        .tieuDe{
          line-height: 8vw;
          font-weight: 600;
          font-size: 3.5vw;
          text-align: left;
        }
        .noiDung{
          line-height: 6vw;
          font-size: 3.5vw;
          text-align: left;
          span{
            font-weight: 600;
            line-height: 6vw;
            text-align: center;
            color: #04aa6d;
            text-decoration-line:overline;
            text-decoration-color:red;
            text-decoration-style:double;
          }
          .lichSuGiaoDich{
            line-height: 6vw;
            font-size: 3.5vw;
            text-align: left;
            color: #04aa6d;
            display: inline-block;
            text-decoration: none;
  
          }
        }
       
      }
      .khuyenMai{
        margin: 5vw 2vw auto;
        .tieuDe{
          line-height: 8vw;
          font-weight: 600;
          font-size: 3.5vw;
          text-align: left;
        }
        .soTien-noiDung-cong{
          display: flex;
          gap: 5vw;
          .soTien{
            width: 59vw;
            height: 6vw;
            border: solid 1px gray;
            text-align:center ;
            text-align-last:center ;
            border-radius: 1vw;

          }
      
          .cong{
            width: 32vw;
            line-height: 6vw;
            background-color: #04aa6d;
            border-radius: 1vw;
            color: #fff;
          }
          .tru{
            width: 32vw;
            line-height: 6vw;
            background-color: red;
            border-radius: 1vw;
            color: #fff;
          }
        }
      }
      .xacNhanGiaoDich{
        margin: 5vw 2vw auto;
        .tieuDe{
          line-height: 8vw;
          font-weight: 600;
          font-size: 3.5vw;
          text-align: left;
        }
        .thoiGian-soTien-noiDung{
          display: flex;
          .thoiGian{
            width: 32vw;
            line-height: 6vw;

          }
          .soTien{
            width: 32vw;
            line-height: 6vw;
            span{
              font-weight: 600;
              line-height: 6vw;
              text-align: center;
              color: #04aa6d;
              text-decoration-line:overline;
              text-decoration-color:red;
              text-decoration-style:double;
            }
          }
          .noiDung{
            width: 32vw;
            line-height: 6vw;
          }
        }
        .thanhCong{
          cursor: pointer;
          color: white;
          background-color: #04aa6d;
          width: 96vw;
          margin: 10vw auto 30vw;
          line-height: 8vw;
          font-size: 3.5vw;
          font-weight: 600;
          border-radius: 1vw;
        }
        .chuaThanhCong{
          cursor: pointer;
          color: white;
          background-color: red;
          width: 96vw;
          margin: 10vw auto 30vw;
          line-height: 8vw;
          font-size: 3.5vw;
          font-weight: 600;
          border-radius: 1vw;
        }
      }
    }
    }
    .pc{
      display: none;
    }
  }
  
}

/* PC*/
@media screen and (min-width : 1024px) {
  .view{
    .mobile{
     display: none;
    }
    .pc{
      .XacNhanTaiKhoan-ConTaiNer{
    
      }
    }
  }
}