
/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
    .addShop-container{
        margin-top: 15vw;
        margin-bottom: 20vw;
       
        .addShop{
           .taoShopMoi{
            font-size: 5vw;
            font-weight: 600;
            color: red;
            text-transform: uppercase;
           }
         .tenShop-TS{
            margin: 5vw 2vw;
            .tenShop{
                text-align: left;
                margin: 2vw auto;
                font-size: 3.5vw;
                font-weight: 500;
            }
            .TS{
                width: 100%;
                text-align: center;
                line-height: 6vw;
                border-radius: 1vw;
                font-size: 3vw;
                border: solid 1px gray;
            }
         }
         .diaChi-container{
            margin: 5vw 2vw;
            .diaChi{
                text-align: left;
                margin: 2vw auto;
                font-size: 3.5vw;
                font-weight: 500;
            }
            .tinh-huyen-xa{
                gap:3vw;
                display: flex;
                margin: 2vw auto;
                select{
                    width: 30vw;
                    text-align: center;
                    height: 6vw;
                    border-radius: 1vw;
                    font-size: 2.5vw;
                    border: solid 1px gray;
                }
            }
            .soNha{
                width: 96vw;
                text-align: center;
                line-height: 6vw;
                border-radius: 1vw;
                font-size: 3vw;
                border: solid 1px gray;
            }
         }
            
            .huyBo-luuShop{
                display: flex;
                margin-top: 10vw;
                margin-bottom: 20vw;
                font-size: 5vw;
                gap: 15vw;
                justify-content: center;
                align-items: center;
                .huyBo{
                    cursor: pointer;
                    border-radius: 1.5vw;
                    width: 35vw;
                    background-color: red;
                    padding: 1vw;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
    
                }
                .luuShop{
                    cursor: pointer;
                    border-radius: 1.5vw;
                    width: 35vw;
                    padding: 1vw;
                    color: #fff;
                    text-decoration: none;
                    font-weight: 600;
                    background-color: #04aa6d;
                    
                }
            }
        } 
        .moiDangNhap{
            margin-top: 15vw;
            .logoDangNhap{
                text-align: center;
                img{
                    width: 30vw;
                    height: 30vw;
                    border-radius: 50%;
                }
            }
            .vuiLong{
                font-size: 3vw;
                text-align: center;
                line-height: 5vw;

            }
            .dangNhap{
                background-color:  #04aa6d;
                width: 30vw;
                font-size: 3.5vw;
                font-weight: 600;
                color: white;
                cursor: pointer;
                text-transform: uppercase;
                padding: 2vw 0vw;
                border-radius: 2vw;
                margin-top: 5vw;
            }
        }
    }
    
    
}

/* PC*/
@media screen and (min-width : 1024px) {
    // .addShop{
    //     margin-bottom: 20vw;
    //     .banner-container{
    //         .bannerFormregis2{
    //             width: 100%;
    //             height: 25vw;
    //             object-fit: cover;
    //             position: relative;
    //             background-color: rgb(242, 255, 0);
    //         .banner {
    //             width: 100%;
    //             height:40vw;
    //             object-fit: cover;
    //         }
    //         }
    //     }
    //     .containerTieuChiFormregis {
    //         display: flex;
    //         margin-top: 1vw;
    //         margin-left: 1vw;
    //         margin-right: 1vw;
    //         text-align: center;
    //         .tieuChiFormregis {
    //             width: 30%;
    //             font-size: 2vw;
    //             padding: 0.5;
    //             text-align: center;
    //             border: solid 0.11vw rgb(143, 140, 140);
    //         }
    //         .myNoiDungFormregis2 {
    //             font-size: 2vw;
    //             padding: 0.5;
    //             width: 70%;
    //             border: solid 0.1vw rgb(143, 140, 140);
    //             text-align: center;
    //             border-radius: 1vw;
             
    //             select{
    //                 text-align: center;
    //                 width: 30%;
    //                 font-size: 2vw;
    //                 padding: 0.5;
    //                 border: solid 0.1vw rgb(143, 140, 140);
    //                 border-radius: 1vw;
    //                 margin-right: 0.5vw;
    //                 option {
    //                     // text-align: center;
                        
    //                 }
    //             }
                
    //         }
    //         .noiDungFormregis3{
    //             width: 70%;
    //             border: solid 0.1vw rgb(143, 140, 140);
    //             text-align: center;
    //             font-size: 2vw;
    //             padding: 0.5;
    //             .inputFormregis3 {
    //                 text-align: center;
    //                 width: 98%;
    //                 border: none;
    //                 font-size: 2vw;
    //                 padding: 0.5;
    //                 margin: 0.5vw auto;
    //             }
    //         }
    //     }
    //     .huyBo-luuShop{
    //         .huyBo{

    //         }
    //         .luuShop{
    //             cursor: pointer;
    //             border-radius: 1vw;
    //             width: 25vw;
    //             font-size: 2vw;
    //             font-weight: 600;
    //             text-align: center;
    //             background-color: #04aa6d;
    //             margin-top: 2vw;
    //             margin-bottom: 20vw;
    //             padding: 0.5vw;
    //         }
    //     }
        
    // } 
}