/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
   
   .chiTietSanPham-container{
   
    .quayLai-tieuDe{
      display: flex;
      font-size: 3.5vw;
      background-color: #fff;
      border-bottom: #d0d4dd 1px solid;
      position: fixed;
  
      top: 0px;
        z-index: 1;
      a{
          text-decoration: none;
      }
      .quayLai{
          color: #04aa6d;
          width: 25vw;
          text-align: left;
          line-height: 9vw;
          padding-left: 2vw;
         
      }
      .tieuDe{
        font-size: 3.9vw;
          font-weight: 600;
          color: red;
          text-align: center;
          width: 75vw;
          line-height: 9vw;
          text-transform: uppercase;
          padding-right: 25vw;

      }
  }
  
    .sanPham-container{
margin: 12vw 0vw 30vw;
      .tenSanPham-sua-xoa{
        display: flex;
        margin: 0vw 2vw;
        .tenSanPham{
          font-size: 3.5vw;
          font-weight: 600;
          width: 96vw;
          text-transform: uppercase;
          word-wrap:break-word;
          overflow:auto;
          text-align: left;
          line-height: 8vw;
  
        }
       
       

      }
      .bangGiaSP-themGioHang{
        display: flex;
        margin: 2vw;
        font-size: 3.5vw;
        font-weight: 600;
        .bangGiaSP{
          text-align: left;
          width: 63vw;
          color: #04aa6d;
          line-height: 6vw;
        }
        .themGH{
          width: 33vw;
          line-height: 6vw;
          text-align: center;
          color: #fff;
          background-color:red;
          border-radius: 2vw;
          text-transform: uppercase;
        }
        .dathemGH{
          width: 33vw;
          line-height: 6vw;
          text-align: center;
          color: #fff;
          background-color: #04aa6d;
          border-radius: 2vw;
          text-transform: uppercase;
        }

      }
      .dacDiem-container{
        margin: auto 2vw;
        .dacDiem-themGioHang{
          display: flex;
          margin-bottom: 2vw;
            font-size: 3.5vw;
            .anhSp{
              width: 20vw;
              height: 26vw;
              object-fit: cover;
              border-radius: 1vw;
            }
          .giaSanPham{
            width: 30vw;
            .tenSp{
              line-height: 7.5vw;
              font-weight: 600;
              text-transform: uppercase;
            }
            .giaKM{
              line-height: 7.5vw;
              font-weight: 600;
              color: red;
              padding-top: 5vw;
            }
            
          }
          .giaNY-giamGia{
            padding-top: 5vw;
          width: 30vw;
            justify-content: center;
            align-items: center;
            .giaNY{
              text-decoration: line-through;
              line-height: 7.5vw;
            }
            .giamGia{
              line-height: 7.5vw;
  
            }
          }
          .sl{
            padding-top: 5vw;
            width: 16vw;
            line-height: 15vw;
           }
          
        }
      }
      .thongTinSp{

      }
      .gioiThieuSp{
        font-size: 3.5vw;
            font-weight: 600;
            margin: 5vw 2vw 0vw;
            text-align: left;
            width: 63vw;
            color: #04aa6d;
            line-height: 6vw;
    
    
      }
      .thongTinChiTiet{
        p{
          margin-bottom: 0vw;
        }
        margin: 0vw 2vw;
        font-size: 3vw;
        text-align: left;
        line-height: 5vw;
    
      }
    }
    
    
 

   }
    }
    
    /* PC*/
    @media screen and (min-width : 1024px) {
    
    }