/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
   
   .chiTietSanPham-container{
    margin: 12vw 0vw;
    .quayLai-tieuDe{
      display: flex;
      // border: solid 1px gray;
      font-size: 3.5vw;
      margin: 0vw 2vw 3vw;
      line-height: 5vw;
      .quayLai{
          color: #04aa6d;
          width: 25vw;
          text-align: left;
          line-height: 5vw;

      }
      .tieuDe{
          // border: solid 1px gray;
          font-weight: 600;
          color: red;
          text-align: center;
          width: 50vw;
          line-height: 5vw;

      }
   
  }
  
    .sanPham-container{
      .tenSanPham-sua-xoa{
        display: flex;
        margin: auto 2vw;
        .tenSanPham{
          font-size: 3.5vw;
          font-weight: 600;
          width: 88vw;
          text-transform: uppercase;
          word-wrap:break-word;
          overflow:auto;
          // color: red;
          text-align: left;
  
        }
        .sua{
          width: 8vw;
          text-align: center;
          // border: solid 1px gray;
          font-size: 3.5vw;
          font-weight: 600;
          line-height: 5vw;
  
        }
       

      }
      .xacNhan-xoa{
        font-size: 3.5vw;
        justify-content: center;
        align-items: center;
        margin: 5vw auto;
        .xacNhan{
          
        }
        .huyBo-xoa{
          display: flex;
          gap: 10vw;
          margin: 2vw 25vw;
          .huyBo{
            color: #fff;
            text-align: center;
            font-size: 2.5vw;
            font-weight: 500;
            width: 20vw;
            line-height: 6vw;
            border-radius: 1vw;
            background-color: #04aa6d;
          }
          .xoa{
            color: #fff;
            text-align: center;
            font-size: 2.5vw;
            font-weight: 500;
            width: 20vw;
            line-height: 6vw;
            border-radius: 1vw;
            background-color: red;
          }
        }
        
      }
      .themGioHang{
        text-align: left;
        font-size: 3.5vw;
        font-weight: 600;
        margin: 2vw;
        color: #04aa6d;

      }
      .dacDiem-container{
        margin: auto 2vw;
        .dacDiem-themGioHang{
          display: flex;
          margin-bottom: 2vw;
          border-radius: 1.5vw;
            // border: solid 1px gray;
            padding: 1vw;
            font-size: 3.5vw;
           
            .anhSp{
              width: 15vw;
              height: 15vw;
              object-fit: cover;
              border-radius: 1vw;
    
            }
          .giaSanPham{
            width: 35vw;
            .tenSp{
              line-height: 7.5vw;
              font-weight: 600;
              text-transform: uppercase;
            }
            .giaKM{
              line-height: 7.5vw;
              font-weight: 600;
              color: red;
            }
            
          }
          .giaNY-giamGia{
          width: 30vw;
            justify-content: center;
            align-items: center;
            .giaNY{
              text-decoration: line-through;
              line-height: 7.5vw;
            }
            .giamGia{
              line-height: 7.5vw;
  
            }
          }
          .sl{
            width: 20vw;
            line-height: 15vw;
    
           }
          
        }
      }
      .themGH{
        font-size: 3.5vw;
        font-weight: 600;
        width: 35vw;
        line-height: 8vw;
        color: #fff;
     
        background-color:red;
        border-radius: 2vw;
        cursor: pointer;
        margin: 5vw auto;
        text-transform: uppercase;
      }
      .dathemGH{
        font-size: 3.5vw;
        font-weight: 600;
        width: 35vw;
        line-height: 8vw;
        color: #fff;
        background-color: #04aa6d;
        border-radius: 2vw;
        cursor: pointer;
        margin: 5vw auto;
        text-transform: uppercase;
      }
      
      .anhSanPham{
        width: 100vw;
        height: 133vw;
        object-fit: cover;
        margin: 2vw auto;
      border: solid 1px gray;

      }
    }
    
    
  .thongTinSp{

  }
  .thongTinChiTiet{
    font-size: 3vw;
    text-align: left;
    margin: 1vw auto 1vw 20vw;
    line-height: 5vw;

  }

   }
    }
    
    /* PC*/
    @media screen and (min-width : 1024px) {
    
    }