/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
   .DoiTac{
    margin-top: 10vw;
    .tieuDe{

    }
    .timSdt{
      display: flex;
      gap: 5vw
    }
    .danhSachTong{
      display: flex;
      padding: 1vw;
      .chiaDoi{
         width: 50%;
         border: solid 1px gray;
         .danhSach{
            display: grid;
            grid-template-columns: 3fr 1fr;
            padding: 1vw;
            border-bottom: solid 1px gray;
          }
      }
      
    }
   
   }
}

/* PC*/
@media screen and (min-width : 1024px) {
   
}