
/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
    .donHang-container{
        a{text-decoration: none};
        margin-top: 9vw;
        margin-bottom: 20vw;
        padding: 1vw;
    .tieuDeDonHang{
        font-size: 5vw;
        font-weight: 600;
        margin: 3vw auto;
    
    }
    .ttdonHang{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr ;
        margin-bottom: 2vw;
        font-size: 2.5vw;
        font-weight: 400;
        border: solid 1px gray;
        justify-content: center;
            align-items: center;
            padding: 1vw;
        

        .thoiGian{
            font-size: 2.5vw;

        }
        .SanPham{
            display: flex;
            gap: 2.5vw;
            justify-content: center;
            align-items: center;
            
            .tenSanPham{
                width: 80%;
                text-align: left;
                font-size: 2.2vw;
                font-weight: 500;
                text-transform: uppercase;
                word-wrap:break-word;
            overflow:auto;
              

            }
            .soLuong{
                font-size: 2.5vw;
                font-weight: 500;
                color: red;

            }
        }
        .khachHang{
            font-size: 2.5vw;
            justify-content: center;
            align-items: center;
          

        }
        .xemChiTiet{
            
            font-size: 2.5vw;
            

        }
    }
    
    
        
    
    }
}

/* PC*/
@media screen and (min-width : 1024px) {
    .donHang-container{
        a{text-decoration: none};
        margin-top: 6vw;
        margin-bottom: 20vw;
        padding: 1vw;
        .donHang-nav{
            display: flex;
            gap: 3vw;
        
           
        }
    .tieuDeDonHang{
        font-size: 3vw;
        font-weight: 600;
        margin: 2vw auto;
    
    }
    .ttdonHang{
        display: flex;
    }
    
    
        
    
    }
}