
/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
    .donHangMoi-container{
        a{text-decoration: none};
        margin: 12vw 2vw;
        font-size: 3vw;
        // color: #04aa6d;
        .quayLai-tieuDe{
            display: flex;
            // border: solid 1px gray;
            font-size: 3.5vw;
            margin: 3vw auto;
            .quayLai{
                color: #04aa6d;
                width: 25vw;
                text-align: left;
                padding: 0vw 1vw;
      
            }
            .tieuDe{
                // border: solid 1px gray;
                font-weight: 600;
                color: red;
                text-align: center;
                width: 50vw;
                margin-right: 25vw;
      
            }
        }
       
        .donHang-container{
            display: flex;
            margin: 2vw auto;
            border: solid 1px #04aa6d;
            border-radius: 2vw;
            padding: 1vw;
            justify-content: center;
            align-items: center;
            .ngayThang{
                width: 20vw;
                line-height: 5vw;
               

            }
            .donHang{
          
                
                .tenSp-dacDiem-soLuong{
                    
                     width: 40vw;
                     .tenSp{
                    text-align: left;
                    text-transform: uppercase;
                    font-weight: 600;
                    color: red;
                    line-height: 6vw;
                     }
                     .dacDiem-soLuong{
                          display: flex;
                         .dacDiem{
                             width: 25vw;
                             line-height: 5vw;
     
                         }
                         .soLuong{
                             width: 13vw;
                             line-height: 5vw;
         
                         }
                     }
                   
                 }
            }
          
            .soBan{
                line-height: 5vw;
                width: 18vw;
               

            }
            .xemChiTiet{
                width: 18vw;
                color: red;
                line-height: 5vw;
                
            }
        }
        .donHangTrong{
            font-size: 3.5vw;
            line-height: 8vw;
        }
}
.menuDonHang{
    .menu{
        object-fit: cover;
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        background-color: #04aa6d;
        padding: 2px;
        position: fixed;
        cursor: pointer;
        left: 20px;
        bottom: 20px;
        z-index: 2;

    }
}}

/* PC*/
@media screen and (min-width : 1024px) {

}
@media print {
    .menu{display: none;}
}