
/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
    .container-header-shop {
        text-align: center;
        margin-top: 9vw;
        // margin-bottom: 20vw;
         .bannerShop {
             width:  100%;
             height: 40vw;
             margin: auto;
             justify-content: center;
             align-items: center;
             object-fit: cover;
         }
         .wecomeShop {
            color: red;
            font-weight: 600;
            font-size: 3.5vw;
            text-align: center;
            text-shadow: 0.2vw 0.2vw 0.4vw #c4c726;
            text-transform: uppercase;
            margin-top: 1vw;
         }
      
         .hoptac-sanpham {
             display: flex;
             gap: 30%;
             justify-content: center;
             align-items: center;
             margin: 3vw;
             .moihoptac {
                 display: block;
                 margin-right: vw;
                 border-radius: 1vw;
                 background-color: #04aa6d;
                 width: 30vw;
                 text-align: center;
                 font-size: 3vw;
             }
             .themSanPham {
                 display: block;
                 margin-right: vw;
                 border-radius: 1vw;
                 background-color: #04aa6d;
                 width: 30vw;
                 text-align: center;
                 font-size: 3vw;
             }
         }
        
     }
     .khuVuc-container{
        width: 100%;
        font-size: 2.5vw;
        margin: 5vw auto 3vw auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        select{
            height: 5vw;
            width: 30%;
            margin: 0.5vw;
            border: solid 0.1vw rgb(143, 140, 140);
            border-radius: 1vw;
            text-align: center;
            option{
            }

        }
}
    
     .sanPham-shop{
        margin-bottom: 30vw;
        a{text-decoration: none;
        color: black
        };
        .tenShop-like{
            display: flex;
            margin-top: 3vw;
            font-size: 5vw;
            font-weight: 600;
            justify-content: center;
            align-items: center;
            
            .tenShop{
                width: 100%;
                background-color: #FF8C00;
                color: white;
                text-transform: uppercase;
                padding: 2.5vw 0vw;
            }
         
        }
        
        .sanPham-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            background-color: #88d3b4;
            padding: 1vw 0vw 3vw 0vw;
            .sanPham {
                justify-content: center;
                align-items: center;
                padding: 2vw;
                margin: 1vw;
                border-radius: 2vw;
                background-color: #fff;
                box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
                .anhSanPham {
                    width: 43vw;
                    height: 50vw;
                    object-fit: cover;
                    border: solid 0.1vw gray;
                    background-color: #fff;
                    cursor: pointer;
                    border-radius: 2vw;
                }
                .tenSanPham {
                    width: 43vw;
                    font-size: 3vw;
                    font-weight: 600;
                    margin: 2vw auto;
                    text-transform: uppercase;
                    word-wrap:break-word;
                overflow:auto;
               
                }
                .giaBan {
                    text-align: center;
                    justify-content: center;
                    
                    .giaBanMoi {
                        color: red;
                        font-size: 5vw;
                    font-weight: 600;
                    // margin-bottom: 1vw;
                    }
                    
                        .giaGiam{
                            display: flex;
                            gap: 2vw;
                            align-items: center;
                            justify-content: center;
                            .giabanCu {
                                text-decoration: line-through;
                                font-size: 3.5vw;
                                font-weight: 300;
                
                            }
                            .phanTram{
                                font-size: 3.5vw;
                                font-weight: 300;
                            }
                        
                    }
                    
                   
                    
                }
                .xemThemSanPham{
                    font-size: 3.9vw;
                    font-weight: 600;
                    background-color: #FF8C00;
                    width: 100%;
                    margin: 2vw auto;
                    border-radius: 2vw;
                    padding: 1.5vw;
                    color: #fff;
                }
               
                .viTriSanPham {
                    display: flex;
                    font-size: 1.6vw;
                    gap: 1vw;
                    align-items: center;
                    justify-content: center;
                }
              
            }

        }
       .xemThem{
      color: #fff;
       margin: 5vw;
       padding: 1vw;
        background-color: #04aa6d;
        width: 30vw;
      font-weight: 600;
        font-size: 3vw;
        border-radius: 1vw;
       }
    }
}

/* PC*/
@media screen and (min-width : 1024px) {
   
}