
/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
   
.fabysaShop{
    a{text-decoration: none};
    .banner-container{
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }
    .tuVan-gioiThieu{
        display: flex;
gap: 30%;
justify-content: center;
align-items: center;
margin: 3vw auto;
        .tuVan{
            display: block;
          
            border-radius: 1vw;
            background-color: #04aa6d;
            width: 30vw;
            text-align: center;
            font-size: 3vw;

        }
        .gioiThieu{
            display: block;
       
            border-radius: 1vw;
            background-color: #04aa6d;
            width: 30vw;
            text-align: center;
            font-size: 3vw;

        }
    }
    
    .gioiThieuChiTiet{
        .closeGioiThieu{
            margin-top: 2vw;
            border-radius: 3vw;
            background-color: red;
            padding: 1vw;
            width: 15vw;
            font-size: 3vw;
            border: none;
            color: #fff;
        }
        .tenCuaHang2{
            font-weight: 600;
        font-size: 3.5vw;
        text-align: center;

        }
        .dc{
            font-weight: 600;
        font-size: 2.5vw;
        text-align: center;

        }
        .sdt{
            font-weight: 600;
        font-size: 2.5vw;
        text-align: center;

        }
        .mxh{
            margin-top: 2vw;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5vw;
            .zalo{
                background-color: #04aa6d;
                width: 16.8vw;
            height: 16.8vw;
            border-radius: 50%;



            }
            .facebook{
                background-color: #04aa6d;
                width: 16.8vw;
                height: 16.8vw;
                border-radius: 50%;
            }
        }
    }
   
.sanPham-shop{
    margin-bottom: 30vw;
    a{text-decoration: none};
    .nhomSanPham-sanPham{
        margin: 5vw auto;
        .nhomSanPham{
            background-color: red;
            font-size: 5vw;
            font-weight: 600
            ;
            color: white;

        }
        .sanPham-container{
       
            display: grid;
        grid-template-columns: 1fr 1fr;
        
        background-color: #88d3b4;
        padding: 1vw 0vw 3vw 0vw;
    
        .sanPham {
            justify-content: center;
            align-items: center;
            padding: 2vw;
            margin: 1vw;
            border-radius: 2vw;
            background-color: #fff;
            box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
            .anhSanPham {
                width: 43vw;
                height: 50vw;
                object-fit: cover;
                border: solid 0.1vw gray;
                background-color: #fff;
                cursor: pointer;
                border-radius: 2vw;
            }
            .tenSanPham {
                font-size: 3vw;
                font-weight: 600;
                margin: 2vw auto;
                text-transform: uppercase;
                word-wrap:break-word;
                overflow:auto;
                height: 5vw;
                width: 43vw;
            }
            .giaBan {
                text-align: center;
                justify-content: center;
                margin: 2vw auto;
                
                .giaBanMoi {
                    color: red;
                    font-size: 5vw;
                font-weight: 600;
                margin-bottom: 1vw;
                }
                
                    .giaGiam{
                        display: flex;
                        gap: 2vw;
                        align-items: center;
                        justify-content: center;
                        .giabanCu {
                            text-decoration: line-through;
                            font-size: 3.5vw;
                            font-weight: 300;
            
                        }
                        .phanTram{
                            font-size: 3.5vw;
                            font-weight: 300;
                        }
                    
                }
                
               
                
            }
            .muaHang {
                font-size: 3.5vw;
                font-weight: 600;
                background-color: red;
                width: 100%;
                margin-top: 2vw;
                border-radius: 3vw;
            }
            .thongtinSanPham {
                margin-top: 2vw;
                text-align: justify;
                padding: 2vw;
                word-wrap:break-word;
                width: 45vw;
                height: 20vw;
                overflow:auto
            }
          
        }
                
    
        }
    }
}
    
}
}

/* PC*/
@media screen and (min-width : 1024px) {
   
}