/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
   .gioHang-container{
    padding: 10vw 2vw;
    a{text-decoration: none;}
    .close{
      background-color: red;
      width: 15vw;
      font-size: 3.5vw;
      padding: 0.5vw;
      border-radius: 1vw;
      margin: 3vw auto;
      font-weight: 500;
      color: #fff;
      cursor: pointer;
      
    }
    .phancach{
   
      .thongTinDonHang{
        text-align: left;
        font-size: 3.5vw;
        font-weight: 600;
        margin-bottom: 2vw;
        // padding-left: 2vw;
        color: #04aa6d;
        
      }
      .gioHangTrong{
        font-size: 5vw;
        font-weight: 600;
      }
      .sanPham{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        margin-bottom: 3vw;
        font-size: 2.5vw;
        font-weight: 400;
        .anhVaTen{
          justify-content: center;
          align-items: center;
          .anhSanPham{
            width: 8vw;
            height: 10vw;
            object-fit: cover;
            border-radius: 0.5vw;
            border: solid 1px gray;
  
          }
          .tenSanPham{
            font-size: 2.5vw;
            font-weight: 600;
            text-transform: uppercase;
            word-wrap:break-word;
            overflow:auto;
  
          }
  
        }
        .giaBan {
          text-align: center;
          justify-content: center;
          margin: auto;
          
          .giaBanMoi {
              color: red;
              font-size: 3vw;
          font-weight: 600;
          // margin-bottom: 1vw;
          }
          
              .giaGiam{
                  display: flex;
                  gap: 1vw;
                  align-items: center;
                  justify-content: center;
                  .giabanCu {
                      text-decoration: line-through;
                      font-size: 1.8vw;
                      font-weight: 300;
      
                  }
                  .phanTram{
                      font-size: 1.8vw;
                      font-weight: 300;
                  }
              
          }
          
         
          
      }
      .soluong-xoaSanPham{
        justify-content: center;
        align-items: center;
       
        display: flex;
        .soLuong{
          width: 50%;
          margin: auto;
              width: 8vw;
              height: 8vw;
              justify-content: center;
              align-items: center;
              border-radius: 1vw;
              text-align: center;
              border: solid 1px red;
              font-size: 3vw;
      
          }
          .xoaSanPham{
            width: 50%;
           
            font-size: 3vw;
            margin: auto;
              width: 8vw;
              height: 8vw;
              background-color: red;
              justify-content: center;
              align-items: center;
              border-radius: 1vw;
              text-align: center;
          }
      }
       
        .thanhTien{
          margin: auto;
      }
      
      }
      .tongTien{
        display: flex;
        padding-bottom: 1vw;
        border-bottom: #04aa6d solid 0.1vw;
        font-size: 3vw;
        font-weight: 600;
        color: red;
  .tieude{
    width: 75%;
    text-align: center;
    
  
  }
  .sotien{
    width: 25%;
    text-align: center;
  
  }
      }
    }
    .phancach{
      .thongTinNguoiNhan{
        text-align: left;
        font-size: 3.5vw;
        font-weight: 600;
        margin: 5vw auto;
        // padding-left: 3vw;
        color: #04aa6d;
       
        
      }
      .thongTinChiTiet{
        display: flex;
        margin: 2vw auto;
        text-align: center;
        text-align: center;
        justify-content: center;
        padding: 0.5vw auto;
        .tieuDe{
          width: 30%;
          font-size: 3vw;
     
          text-align: center;
          border: solid 0.11vw rgb(143, 140, 140);
  
        }
        .noiDung{
         
          width: 70%;
        
          font-size: 3vw;
          border: solid 0.1vw rgb(143, 140, 140);
          text-align: center;
          border-radius: 0.3vw;
  
        }
      }
    }
   .luuY{
    margin: 1vw auto;
    color: #04aa6d;
    font-size: 2.5vw;
    font-weight: 500;
    text-decoration: none;
   }
    
    .datHang{
      background-color: red;
      width: 35vw;
      font-size: 5vw;
      padding: 1vw;
      border-radius: 1vw;
      margin: 3vw auto;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      margin-bottom: 10vw;
    }
   }
}

/* PC*/
@media screen and (min-width : 1024px) {
   
}