/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
   .gioHang-container{
    margin-bottom: 30vw;
    a{text-decoration: none;}
    .quayLai-tieuDe{
      display: flex;
      font-size: 3.5vw;
      background-color: #fff;
      border-bottom: #d0d4dd 1px solid;
      position: fixed;
  
      top: 0px;
        z-index: 1;
      a{
          text-decoration: none;
      }
      .quayLai{
          color: #04aa6d;
          width: 25vw;
          text-align: left;
          line-height: 9vw;
          padding-left: 2vw;
         
      }
      .tieuDe{
        font-size: 3.9vw;
          font-weight: 600;
          color: red;
          text-align: center;
          width: 75vw;
          line-height: 9vw;
          text-transform: uppercase;
          padding-right: 25vw;

      }
  }
    .thongTinGioHang-container{
      margin: 12vw 2vw 5vw;
      .thongTinGioHang{
        text-align: left;
        font-size: 3.5vw;
        font-weight: 600;
        margin: 2vw;
        color: #04aa6d;

      }
      .sanPham{
        border: solid 1px #04aa6d;
        padding: 2vw;
        border-radius: 3vw;
        margin-bottom: 2vw;
        .tenSanPham-xoa{
      
          display: flex;
          .tenSanPham{
            width: 90vw;
            text-align: left;
              font-size: 3vw;
              font-weight: 600;
              margin-bottom: 2vw;
              color: red;
              text-transform: uppercase;
              line-height: 3vw;
      
           }
          .xoa{
     
            line-height: 3vw;
          }
        }
        .dacDiem-tenDacDiem{
          margin-bottom: 2vw;
          .dacDiem-themGioHang{
            display: flex;
            // margin-bottom: 2vw;
            // border: solid 1px gray;
            .anhSp-tenSp{
          
              width: 15vw;
              .anhSp{
                width: 12vw;
                height: 15vw;
                object-fit: cover;
                border-radius: 1vw;
              }
              .tenSp{
                font-size: 3.5vw;
                font-weight: 500;
                line-height: 5vw;
              }
            }
            .giaSanPham{
              // border: solid 1px gray;
              width: 26vw;
              // margin: 3.3vw auto;
              .giaKM{
                line-height: 7.5vw;
                font-size: 3.5vw;
                font-weight: 500;
                color: red;
      
              }
              .giaNY-giamGia{
                line-height: 5vw;
                display: flex;
                gap: 1vw;
                justify-content: center;
                align-items: center;
                .giaNY{
                  text-decoration: line-through;
                  font-size: 2.5vw;
                  line-height: 7.55vw;
                }
                .giamGia{
                  font-size: 2.5vw;
                  line-height: 7.5vw;
                }
              }
             
            }
            .soLuong-SL{
              width: 30vw;
                font-size: 3vw;
              
              .soLuong{
                line-height: 7.5vw;
                text-align: center;
                width: 30vw;
      
              }
              .thayDoiSl{
                display: flex;
                .giamSl{
            width: 5.5vw;
                  color: #04aa6d;
                  font-size: 3.9vw;
                  font-weight: 600;
        
                  line-height: 7.5vw;
                  margin: auto 1vw;
             
      
                }
                .SL{
                  width: 15vw;
                  height: 7.5vw;
                  text-align: center;
                  font-weight: 600;
                  font-size: 3.5vw;
                  border-radius: 1vw;
                  border: solid 1px red;
                  color: black;
        
                }
                .tangSl{
           
                }
              }
              
      
            }
            .thanhTien-TT{
              width: 21vw;
             font-size: 3vw;
              .thanhTien{
                line-height: 7.5vw;
                text-align: center;
              }
              .TT{
                line-height: 7.5vw;
                text-align: center;
                font-weight: 600;
                font-size: 3vw;
              
      
              }
            }
            
          }
          .tenDacDiem{
            font-size: 3.5vw;
            font-weight: 500;
            line-height: 6vw;
            text-align: left;
            padding-left: 1vw;
          }
        }
     
     
      }
      .tongTien{
        display: flex;
        padding: 1.5vw;
        border-bottom: #04aa6d solid 0.1vw;
        font-size: 3.5vw;
        font-weight: 600;
        color: red;
        .tieude{
          width: 70%;
          text-align: center;
          text-transform: uppercase;
          
        
        }
        .sotien{
          width: 30%;
          text-align: center;
        
        }
      }
     
    }
    .datHangThanhCong-conatiner{
      margin: 12vw auto 5vw;
     
      .datHangTC{
        font-size: 3vw;
        font-weight: 600;
      }
    }
    .chonNoiNhan-container{
      margin: 5vw 2vw;
      .chonNoiNhan{
        text-align: left;
        font-size: 3.5vw;
        font-weight: 600;
        margin: 2vw auto;
        // padding-left: 2vw;
        color: #04aa6d;

      }
      .noiNhan-soBan{
        display: flex;
        gap: 2vw;
        font-size: 3vw;
        .noiNhan{
          width: 30vw;
          height: 8vw;
          border-radius: 1vw;
          
      border: solid 1px gray;
      text-align-last:center;
        }
        .soBan{
          width: 30vw;
          height: 8vw;
          border-radius: 1vw;
          border: solid 1px gray;
          text-align-last:center;

        }
        .maBaoVe{
          width: 30vw;
          height: 8vw;
          border-radius: 1vw;
          text-align:center;
          border: solid 1px gray;

        }
  
        


      }
    }
    .thongTinNguoiNhan-container{
      margin: 5vw 2vw;
      .thongTinNguoiNhan{
        text-align: left;
        font-size: 3.5vw;
        font-weight: 600;
        margin: 2vw auto;
        // padding-left: 2vw;
        color: #04aa6d;

      }
      .thongTinChiTiet{
        .tieuDe{
          font-size: 3vw;
          font-weight: 600;
         text-align: left;
         line-height: 5vw;
         margin:1vw 0vw;
        }
        .noiDung{
         line-height: 8vw;
          width: 96vw;
          font-size: 3.5vw;
          border: solid 0.1vw rgb(143, 140, 140);
          text-align: center;
          border-radius: 1vw;
          margin-bottom: 2vw;
        }
      }
      .diaChi-container{
        font-size: 3vw;
        margin: 0vw auto 2vw;
        .diaChi{
            line-height: 6vw;
    font-weight: 600;
    font-size: 3.5vw;
    text-align: left;
   margin: 0vw auto 2vw;
        }
        .tinh-huyen-xa{
            margin-bottom: 2vw;
            display: flex;
            gap: 2vw;
            select{
                width: 100%;
                height: 8vw;
               
                border-radius: 1vw;
                border: solid 1px gray;
                text-align-last: center;
            }
        }
        .soNha{
            width: 48vw;
            height: 8vw;
            margin-right: 50vw;
            text-align: center;
            border: solid 1px gray;
            border-radius: 1vw;
        }
     }
      .luuY{
        margin: 1vw auto;
        color: #04aa6d;
        font-size: 2.5vw;
        font-weight: 500;
        text-decoration: none;
       }
    }
    .datHang{
      background-color: red;
      width: 35vw;
      font-size: 3.5vw;
   line-height: 8vw;
      border-radius: 1vw;
      margin: 3vw auto;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      margin: 0vw auto 10vw;
    }
    .datHang2{
      background-color: #d0d4dd;
      width: 35vw;
      font-size: 3.5vw;
      line-height: 8vw;
      border-radius: 1vw;
      margin: 3vw auto;
      font-weight: 600;
      cursor: pointer;
      margin: 0vw auto 10vw;
    }
    .thongTinDonHang-container{
      margin: 5vw 2vw;
      .thongTinDonHang{
        text-align: left;
        font-size: 3.5vw;
        font-weight: 600;
        margin: 2vw auto;
        color: #04aa6d;

      }
      .soBan-maBaoMat{
        display: flex;
        font-size: 3.5vw;
        font-weight: 600;
        gap: 10vw;
        margin: 5vw 0vw 3vw;
        // text-align: left;
        .soBan{
          width: 42vw;

        }
        .maBaoMat{
          width: 42vw;

        }
      }
      .sanPham{
        border-radius: 3vw;
        margin-bottom: 2vw;
        .tenSanPham-xoa{
          .tenSanPham{
            width: 90vw;
            text-align: left;
              font-size: 3.5vw;
              font-weight: 600;
              margin-bottom: 2vw;
              color: red;
              text-transform: uppercase;
              line-height: 3vw;
      
           }
         
        }
     
      .dacDiem-themGioHang{
      display: flex;
      margin: 2vw auto;
      font-size: 3vw;
      .anhSp-tenSp{
        width: 20%;
        .tenSp{
          // font-size: 3.5vw;
          font-weight: 500;
          line-height: 5vw;
        }
        .gioPhut{
          color: red;
          // font-size: 2.5vw;
          line-height: 5vw;
        }
      }
      .giaSanPham{
        width: 30%;
        .giaKM{
          // font-size: 3.5vw;
          font-weight: 500;
          color: red;
          line-height: 5vw;
        }
        .giaNY-giamGia{
          display: flex;
          gap: 1vw;
          justify-content: center;
          align-items: center;
          line-height: 5vw;
          .giaNY{
            text-decoration: line-through;
            // font-size: 2.5vw;

          }
          .giamGia{
            font-size: 2vw;

          }
        }
        .sl{
          // line-height: 6vw;
          // font-size: 3.5vw;
          // font-weight: 500;
        }
      }
      .soLuong-SL{
        width: 15%;
        justify-content: center;
          align-items: center;
        
        .soLuong{
          // font-size: 2.5vw;
          line-height: 5vw;
        }
        .SL{
          width: 90%;
          text-align: center;
          font-weight: 600;
          // font-size: 3.5vw;
          border-radius: 1vw;
          line-height: 5vw;
          height: 5vw;

        }

      }
      .thanhTien-TT{
        width: 26%;
        .thanhTien{
          justify-content: center;
          align-items: center;
          // font-size: 2.5;
          line-height: 5vw;
        }
        .TT{
          text-align: center;
          font-weight: 600;
          // font-size: 3.5vw;
          justify-content: center;
          align-items: center;
          line-height: 5vw;
        }
      }
      .daXong{
        width: 9%;
        font-size: 5vw;
        line-height: 10vw;
      }
      .chuaXong{
        width: 9%;
        font-size: 8vw;
        line-height: 10vw;
  
      }
      
    }
      }
      .tinhTien{
        border-top: solid 1px gray;
        padding: 2vw;
        .tongTien{
          display: flex;
          font-size: 3.5vw;
          line-height: 6vw;
          gap: 20%;
        .tieude{
          width: 35%;
          text-align: right;
          line-height: 6vw;
        }
        .sotien{
          width: 35%;
          text-align: center;
          line-height: 6vw;
          height: 6vw;
        }
        }

      }
      
    }
    .thanhToanQrCode-container{
      margin: 5vw 2vw;
      .thanhToanQr{
          text-align: left;
          font-size: 3.5vw;
          font-weight: 600;
          margin: 2vw auto;
          color: #04aa6d;
      }
      .qr{
        width: 96vw;
        object-fit: cover;
        // border: solid 1px gray;
      } 
    }
    .daThanhToan{
      text-align: center;
      font-size: 3.5vw;
      margin-left: 30.5vw;
      font-weight: 600;
      width: 35vw;
      line-height: 8vw;
      border-radius: 1vw;
      background-color: red;
      color: #fff;
      text-transform: uppercase;

    }
    .chuaThanhToan{
      text-align: center;
      text-transform: uppercase;
      font-size: 3.5vw;
      margin-left: 30.5vw;
      font-weight: 600;
      width: 35vw;
      line-height: 8vw;
      border-radius: 1vw;
      background-color: #d0d4dd;

    }
    
   }
}

/* PC*/
@media screen and (min-width : 1024px) {
   
}