

/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
  .HeaderShop-ConTaiNer{
 
    a{
      text-decoration: none;
      color: black;
    }
    .headerShop21{
        display: flex;
        font-size: 3.5vw;
        background-image: linear-gradient(to right, #04aa6d , #fff);
      position: fixed;
      top: 0px;
        z-index: 3;
        .gioHang21-container{
            width: 25vw;
            height: 9vw;
            display: flex;
        
            .gioHang2{
                width: 7vw;
                height: 7vw;
                border-radius: 50%;
                border: solid 1px #04aa6d;
                margin: 1vw;
                // font-size: 4.5vw;
      
    
            }
            .soLuong-thanhTien{
            width: 16vw;
            font-size: 2.8vw;
            padding-left:1vw ;
            text-align: left;
           
                .soLuong{
                    line-height: 4vw;
                font-weight: 500;
                     color: red;
    
                }
                .thanhTien{
                    line-height: 5vw;
                }
            }

        }
        .tieuDe{
                font-size: 3.8vw;
                font-weight: 600;
                color: red;
                text-align: center;
                width: 50vw;
                line-height: 9vw;
                text-transform: uppercase;
               
        }
        .tenShop{
            font-size: 4.5vw;
            font-weight: 600;
            color: #fff;
            width: 83vw;
            line-height: 9vw;
            text-transform: uppercase;
            text-align: left;
            padding-left: 2vw;
        }
        .caNhan{
            display: flex;
            width: 17vw;
             height: 9vw;
       
            .xinChao-taiKhoan{
               
                .xinChao{
                    font-size: 2.8vw;
                    line-height: 4.5vw;
                    font-style: oblique;
                    color: red;
                    
                }
                .taiKhoan{
                    font-size: 2.8vw;
                    line-height: 4.5vw;
                    padding-right:1vw ;
                    text-align: right;

            
                    }
            }
            
            .avatar{
                    width: 7vw;
                    height: 7vw;
                    border-radius: 50%;
                    border: solid 1px #04aa6d;
                    margin: 1vw;
            }
        }
        
    }
    .banner-tenShop{
           margin: 9vw 0vw auto;
        .bannerx{
            width: 100%;
            height: 56vw;
            object-fit: cover;

        }
        .logo-tenShop-gioiThieu{
            background-color: #88d3b4;
            display: flex;
            padding:  2vw 1vw;
            .tenShop-gioiThieu-nganHang{
                .gioiThieu-nganHang-follow{
                    display: flex;
                    gap: 1vw;
                    line-height: 6vw;
                    font-size: 2.2vw;
                    .gioiThieu{
                        width: 15.66vw;
                        background-color: #fff;  
                        border-radius: 2vw;                    
                    }
               
                }
            }
        }
    }
    .nganHang-container{
       
        .quayLai-tieuDe{
            display: flex;
            font-size: 3.5vw;
            background-color: #fff;
            border-bottom: #d0d4dd 1px solid;
            position: fixed;
        
            top: 0px;
              z-index: 1;
            a{
                text-decoration: none;
            }
            .quayLai{
                color: #04aa6d;
                width: 25vw;
                text-align: left;
                line-height: 9vw;
                padding-left: 2vw;
               
            }
            .tieuDe{
              font-size: 3.9vw;
                font-weight: 600;
                color: red;
                text-align: center;
                width: 75vw;
                line-height: 9vw;
                text-transform: uppercase;
                padding-right: 25vw;
      
            }
        }
     .ttTaiKhoan{
        margin: 12vw 2vw;
        line-height: 6vw;
        font-weight: 600;
        font-size: 3.5vw;
        text-align: left;
        margin-bottom: 2vw;

     }
     .chiTietTaiKhoan{
        font-size: 3vw;
        text-align: left;
         margin-left: 2vw;
        line-height: 5vw;

     }
     .nhapSoTien{
        margin: 5vw auto;
        color: red;
        font-size: 3.9vw;
        font-weight: 600;
        line-height: 8vw;
        width: 60vw;
        text-align: center;
        border: solid 1px gray;
        border-radius: 1vw;

     }
     
      .banPhimSo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
        gap:2vw;
        color: #fff;
        font-weight: 600;
        font-size: 3.9vw;
        margin: 3vw 2vw;
        .giaTriTien{
            background-color: #04aa6d;
            padding: 1.5vw 0.5vw ;
            border-radius: 1vw;
        }
      
      }
     .maQr{
        line-height: 6vw;
        font-weight: 600;
        font-size: 3.5vw;
        text-align: left;
        margin: 5vw 2vw;

     }
     .qr{
        width: 96vw;
        object-fit: cover;
        margin-bottom: 20vw;
     }
      }
    .gioiThieuChiTiet{
       margin-bottom: 30vw;
        .quayLai-tieuDe{
            display: flex;
            font-size: 3.5vw;
            background-color: #fff;
            border-bottom: #d0d4dd 1px solid;
            position: fixed;
        
            top: 0px;
              z-index: 1;
            a{
                text-decoration: none;
            }
            .quayLai{
                color: #04aa6d;
                width: 25vw;
                text-align: left;
                line-height: 9vw;
                padding-left: 2vw;
               
            }
            .tieuDe{
              font-size: 3.9vw;
                font-weight: 600;
                color: red;
                text-align: center;
                width: 75vw;
                line-height: 9vw;
                text-transform: uppercase;
                padding-right: 25vw;
      
            }
        }
        .gioiThieu-container{
            margin: 12vw 2vw 5vw;
            .gioiThieu{
                line-height: 6vw;
                font-weight: 600;
                font-size: 3.5vw;
                text-align: left;
            }
            .tenShop{
                  color: #04aa6d;
                  font-weight: 600;
                  font-size: 3.5vw;
                  text-align: left;
                  margin-bottom: 1vw;
                  text-transform: uppercase;
    
    
              }
              .dc{
                font-size: 3vw;
                text-align: left;
              margin-left: 2vw;
                line-height: 5vw;
                .zalo{
                  font-size: 3.5vw;
                  font-weight: 600;
                  color: #04aa6d;
                }
  
            }
        }
        .gioiThieu-container2{
            margin: 0vw 2vw 5vw;
            .gioiThieu2{
 line-height: 6vw;
                font-weight: 600;
                font-size: 3.5vw;
                text-align: left;
            }
            .gt2{
                font-size: 3vw;
                text-align: left;
              margin-left: 2vw;
                line-height: 5vw;
            }

            
         }
        .quanLy-container{
            margin: 0vw 2vw 5vw;
            .quanLy{
                font-weight: 600;
                font-size: 3.5vw;
                text-align: left;
                line-height: 6vw;
            }
            .donHang{
                margin-left:2vw ;
                display: block;
                font-size: 3.5vw;
                font-weight: 600;
                color: #04aa6d;
                text-align: left;
                line-height: 8vw;
                border-bottom: solid 1px #d0d4dd ;

            }
        }
        .khoContainer{
            margin: 5vw 2vw 0vw;
          .dsKho{
            // margin-bottom: 2vw;
            font-weight: 600;
                font-size: 3.5vw;
                text-align: left;
                line-height: 6vw;
          }
            .khoCtv{
                margin-left:2vw ;
                display: block;
                font-size: 3.5vw;
                font-weight: 600;
                color: #04aa6d;
                text-align: left;
                line-height: 8vw;
                border-bottom: solid 1px #d0d4dd ;

            }
        }    
         .qrcode-container{
            margin-top: 5vw;
            .qrcode{
                line-height: 6vw;
                font-weight: 600;
                font-size: 3.5vw;
                text-align: left;
                margin: auto 2vw 10vw;

            }
            .taiqr{
                font-size: 3.5vw;
                line-height: 8vw;
                font-weight: 500;
             
            }
         }
        
      }     
     
          
      
      
      

  }
}

/* PC*/
@media screen and (min-width : 1024px) {
    .HeaderShop-ConTaiNer{
        
    }
}