
/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
   .shopCtv-container{
       margin-top: 8vw;
       a{
           text-decoration: none;
           color: black;
         }
       .banner-container{
           width: 100%;
           height: 50vw;
           object-fit: cover;
       }
       .tenCuaHang{
        color: red;
        text-transform: uppercase;
        padding: 2.5vw 0vw;
              font-size: 5vw;
            font-weight: 600;
           }
           .internet-website{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2vw;
            margin-bottom: 5vw;
            .internet{
                width: 3vw;
                height: 3vw;
                object-fit: cover;
                border-radius: 50%;

            }
            .website{
                font-size: 3vw;
                font-weight: 500;
                color: #04aa6d;
            }
            }
           .tuVan-gioiThieu{
               display: flex;
               gap: 30%;
               justify-content: center;
               align-items: center;
               margin-bottom: 3vw;
               .tuVan{
                   display: block;
           padding: 1vw;
           color: #fff;
           border-radius: 1vw;
           background-color: #04aa6d;
           width: 25vw;
           text-align: center;
           font-size: 3.5vw;
                 font-weight: 500;
           border: none;
   
               }
               .gioiThieu{
                   padding: 1vw;
           display: block;
           color: #fff;
           border-radius: 1vw;
           background-color: #04aa6d;
           width: 25vw;
           text-align: center;
           font-size: 3.5vw;
                 font-weight: 500;
           border: none;
   
               }
           }
           .gioiThieuChiTiet{
               .closeGioiThieu{
                margin-bottom: 2vw;
                border-radius: 3vw;
                background-color: red;
                padding: 1vw;
                width: 15vw;
                font-size: 3vw;
                border: none;
                color: #fff;
               }
               .tenCuaHang2{
                   color: #04aa6d;
                   font-weight: 600;
                   font-size: 5vw;
                   text-align: center;
                   margin-bottom: 2vw;
   
               }
               .dc{
                   font-size: 3vw;
                   text-align: left;
                   margin-left: 5vw;
   
               }
               .sdt{
                   font-size: 3.5vw;
                   font-weight: 600;
                   margin-top: 1vw;
   
               }
           }
           .tuVanChiTiet{
                
            .closeGioiThieu{
               margin-bottom: 2vw;
               border-radius: 3vw;
               background-color: red;
               padding: 1vw;
               width: 15vw;
               font-size: 3vw;
               border: none;
               color: #fff;
           }
           .fabysa{
               color: #04aa6d;
               font-weight: 600;
               font-size: 5vw;
               text-align: center;
               margin-bottom: 2vw;
               text-transform: uppercase;
           }
           .gioiThieuFabysa{
               font-size: 3vw;
               text-align: left;
               margin: 1vw auto 1vw 5vw;
               line-height: 5vw;
           }
           .sanSale{
               padding: 2vw;
               // display: block;
               color: #fff;
               border-radius: 1vw;
               background-color: #04aa6d;
               width: 55vw;
               text-align: center;
               font-size: 5vw;
               border: none;
               margin-top: 5vw;
               font-weight: 600;

           }
           }
           .huongDan-container{
            margin: 5vw auto;
            .huongDan{
                background-color: #FF8C00;
                font-size: 5vw;
                font-weight: 600;     
                text-transform: uppercase;
                padding: 1vw;
                color: white;
                text-align: center;

            }
            .noiDung{
                font-size: 3vw;
                text-align:justify;
                margin: 2vw;
                line-height: 5vw;

            }
            .daDangKi{
                padding: 2vw;
                color: #fff;
                border-radius: 1vw;
                background-color: #FF8C00;
                width: 55vw;
                text-align: center;
                font-size: 5vw;
                border: none;
                margin-top: 3vw;
                font-weight: 600;
            }
            .dangKi{
                padding: 2vw;
                color: #fff;
                border-radius: 1vw;
                background-color: #04aa6d;
                width: 55vw;
                text-align: center;
                font-size: 5vw;
                border: none;
                margin-top: 3vw;
                font-weight: 600;
            }
           }
      
      
   .sanPham-shop{
       margin-bottom: 30vw;
       a{text-decoration: none};
       .nhomSanPham-sanPham{
           margin: 5vw auto;
           .nhomSanPham{
            background-color: red;
            font-size: 5vw;
            font-weight: 600;     
            text-transform: uppercase;
            padding: 1vw;
            color: white;
            text-align: center;
           }
           .hienAn{
            background-color: #88d3b4;
            border: none;
            .Spinner {
                color: red;
                font-size: 3.5vw;
                font-weight: 600;
                
               
              }
            .xemSanPham{
                color: red;
                 padding: 1vw;
                margin: 3vw auto;
                  background-color: #fff;
                  width: 30vw;
                font-weight: 600;
                  font-size: 3.5vw;
                  border-radius: 1vw;
                 }
                 .anSanPham{
                    color: #fff;
                    padding: 1vw;
                   margin: 3vw auto;
                     background-color: red;
                     width: 30vw;
                   font-weight: 600;
                     font-size: 3.5vw;
                     border-radius: 1vw;
                 }
           .sanPham-container{
          
               display: grid;
           grid-template-columns: 1fr 1fr;
           
           background-color: #88d3b4;
           padding: 1vw 0vw 3vw 0vw;
       
           .sanPham {
               justify-content: center;
               align-items: center;
               padding: 2vw;
               margin: 1vw;
               border-radius: 2vw;
               background-color: #fff;
               box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
       -webkit-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
       -moz-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
               .anhSanPham {
                   width: 43vw;
                   height: 50vw;
                   object-fit: cover;
                   border: solid 0.1vw gray;
                   background-color: #fff;
                   cursor: pointer;
                   border-radius: 2vw;
               }
               .tenSanPham {
                   width: 43vw;
                   font-size: 3vw;
                   font-weight: 600;
                   margin: 2vw auto;
                   text-transform: uppercase;
                   word-wrap:break-word;
               overflow:auto;

               }
               
               .giaBan {
                   text-align: center;
                   justify-content: center;
                   .giaCtv{
                     color: red;
                     font-size: 3vw;
                 font-weight: 600;
                   }
                   .giaBanMoi {
                       color: #04aa6d;
                       font-size: 5vw;
                   font-weight: 600;
                   // margin-bottom: 1vw;
                   }
                   
                       .giaGiam{
                           display: flex;
                           gap: 2vw;
                           align-items: center;
                           justify-content: center;
                           .giabanCu {
                               text-decoration: line-through;
                               font-size: 3vw;
                               font-weight: 300;
               
                           }
                           .phanTram{
                               font-size: 3vw;
                               font-weight: 300;
                           }
                       
                   }
                   
                  
                   
               }
               .muaHang {
                   font-size: 3.9vw;
                   font-weight: 600;
                   background-color: red;
                   width: 100%;
                   margin: 2vw auto;
                   border-radius: 2vw;
                   padding: 1.5vw;
                   cursor: pointer;
               }
               .daThem {
                   font-size: 3.9vw;
                   padding: 1.5vw;
                   font-weight: 600;
                   background-color: #04aa6d;
                   width: 100%;
                   margin: 2vw auto;
                   border-radius: 2vw;
                   cursor: pointer;
               }
               .chonShopThem{
                display: flex;
                  margin: 2vw auto;
                gap: 1vw;
                  text-align: center;
                    align-items: center;
               
                .chonShop{
                    font-size: 2vw;
                    padding: 0.5vw;
                    width: 70%;
                    border-radius: 1vw;
                    text-align: center;
                    align-items: center;
                }
                .themVaoShop{
                    width: 30%;
                    font-size: 2vw;
                    padding: 1vw;
                    background-color: #04aa6d;
                    font-weight: 500;
                  
                    border-radius: 1vw;
                    color: #fff;
                    cursor: pointer;
                 }
               }
               
               .xemChiTiet{
                   color: #04aa6d;
                  font-size: 3vw;
                  font-weight: 500;
                  cursor: pointer;
               }
               .viTriSanPham{
                display: flex;
                font-size: 2vw;
                gap: 1vw;
                align-items: center;
                justify-content: center;
               }
              
             
           }
                   
       
           }}
       }
   }
   .gioHang2{
    object-fit: cover;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    color: #fff;
    position: fixed;
    cursor: pointer;
    right: 30px;
    bottom: 30px;
    z-index: 1;
    // opacity: 0.6;

}
       
   }
}

/* PC*/
@media screen and (min-width : 1024px) {
//    .shopCtv-container{
//        // margin-top: 0.5vw;
//        a{
//            text-decoration: none;
//            color: black;
//          }
//        .banner-container{
//            width: 100%;
//            height: 25vw;
//            object-fit: cover;
//        }
//        .tenCuaHang{
//            color: red;
//            font-weight: 600;
//            font-size: 3vw;
//            text-align: center;
//            text-shadow: 0.2vw 0.2vw 0.4vw #c4c726;
//            }
//            .slogan{
//              font-size: 2vw;
//            text-align: center;
//            margin-top: 1vw;
             
//            }
       
//            .tuVan-gioiThieu{
//                display: flex;
//                gap: 30%;
//                justify-content: center;
//                align-items: center;
//                margin: 1vw auto;
//                .tuVan{
//                    display: block;
//            padding: 0.5vw;
//            color: #fff;
//            border-radius: 1vw;
//            background-color: #04aa6d;
//            width: 15vw;
//            text-align: center;
//            font-size: 2vw;
//            border: none;
//            font-weight: 600;
   
//                }
//                .gioiThieu{
//                    padding: 0.5vw;
//                    font-weight: 600;
//            display: block;
//            color: #fff;
//            border-radius: 1vw;
//            background-color: #04aa6d;
//            width: 15vw;
//            text-align: center;
//            font-size: 2vw;
//            border: none;
   
//                }
//            }
//            .gioiThieuChiTiet{
//                .closeGioiThieu{
//                    margin-top: 1vw;
//                    border-radius: 1vw;
//                    background-color: red;
//                    padding: 1vw;
//                    width: 15vw;
//                    font-size: 2vw;
//                    border: none;
//                    color: #fff;
//                    padding: 0.5vw;
//                    font-weight: 600;
//                }
//                .tenCuaHang2{
//                    color: #04aa6d;
//                    font-weight: 600;
//                    font-size: 3vw;
//                    text-align: center;
//                    margin-bottom: 0.5vw;
   
//                }
//                .dc{
//                    font-size: 1.5vw;
//                    text-align: left;
//                    margin-left: 15vw;
   
//                }
//                .sdt{
//                    font-size: 2vw;
//                    font-weight: 600;
//                    margin-top: 1vw;
   
//                }
//            }
//            .tuVanChiTiet{
//                .closeGioiThieu{
//                    margin-top: 1vw;
//                    border-radius: 1vw;
//                    background-color: red;
//                    padding: 1vw;
//                    width: 15vw;
//                    font-size: 2vw;
//                    border: none;
//                    color: #fff;
//                    padding: 0.5vw;
//                    font-weight: 600;
//                }
//                .loiNhan{
//                    font-size: 2vw;
//                }
//                .mxh{
//                    margin-top: 1vw;
//                    display: flex;
//                    justify-content: center;
//                    align-items: center;
//                    gap: 5vw;
//                    .zalo{
//                        background-color: #04aa6d;
//                        width: 5vw;
//                    height: 5vw;
//                    border-radius: 50%;
   
   
   
//                    }
//                    .facebook{
//                        background-color: #04aa6d;
//                        width: 5vw;
//                    height: 5vw;
//                        border-radius: 50%;
//                    }
//                }
             
//            }
      
      
//    .sanPham-shop{
//        margin: 1vw;
//        a{text-decoration: none};
//        .nhomSanPham-sanPham{
//            margin: 5vw auto;
//            .nhomSanPham{
//                background-color: red;
//                font-size: 3vw;
//                font-weight: 600
//                ;
//                color: white;
   
//            }
//            .sanPham-container{
          
//                display: grid;
//            grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
           
//            background-color: #88d3b4;
//            // padding: 1vw 0vw 3vw 0vw;
       
//            .sanPham {
//                width: 15vw;
//                justify-content: center;
//                align-items: center;
//                padding: 0.5vw;
//                margin: 1vw;
//                border-radius: 1vw;
//                background-color: #fff;
//                box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
//        -webkit-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
//        -moz-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
//                .anhSanPham {
//                    width: 13vw;
//                    height: 15vw;
//                    object-fit: cover;
//                    border: solid 0.1vw gray;
//                    background-color: #fff;
//                    cursor: pointer;
//                    border-radius: 1vw;
//                }
//                .tenSanPham {
//                    width: 13vw;
//                    // height: 12vw;
//                    font-size: 1.2vw;
//                    font-weight: 600;
//                    margin: 0.5vw auto;
//                    text-transform: uppercase;
//                    word-wrap:break-word;
//                overflow:auto;
//                }
//                .giaBan {
//                    text-align: center;
//                    justify-content: center;
//                    // margin: 2vw auto;
                   
//                    .giaBanMoi {
//                        color: red;
//                        font-size: 2vw;
//                    font-weight: 600;
//                    // margin-bottom: 1vw;
//                    }
                   
//                        .giaGiam{
//                            display: flex;
//                            gap: 1vw;
//                            align-items: center;
//                            justify-content: center;
//                            .giabanCu {
//                                text-decoration: line-through;
//                                font-size: 1vw;
//                                font-weight: 300;
               
//                            }
//                            .phanTram{
//                                font-size: 1vw;
//                                font-weight: 300;
//                            }
                       
//                    }
                   
                  
                   
//                }
//                .muaHang {
//                    font-size: 1vw;
//                    font-weight: 600;
//                    background-color: red;
//                    width: 90%;
//                    margin: 0.5vw auto;
//                    border-radius: 0.5vw;
//                    padding: 0.5vw;
//                }
//                .daThem{
//                    font-size: 1vw;
//                    font-weight: 600;
//                    background-color: #04aa6d;
//                    width: 90%;
//                    margin: 0.5vw auto;
//                    border-radius: 0.5vw;
//                    padding: 0.5vw;
//                }
//                .xemChiTiet{
//                    color: #04aa6d;
//                   font-size: 1.3vw;
//                   font-weight: 500;
//                   cursor: pointer;
//                }
              
             
//            }
                   
       
//            }
//        }
//    }
       
//    }
}
