
    /* Mobile & Tablet */
@media screen and (max-width : 1023px) {
    .chitietsp-datHang-tongKhoSi{

        a{text-decoration: none};
        background-color: #9cddc2;
        .container-FabysaChiTietSpTo{
            background-color: #9cddc2;
            // margin: 15vw auto;
            padding: 15vw 0vw 15vw 0vw;
            a{text-decoration: none};
            .container-FabysaChiTietSp {
               
                width: 85%;
                justify-content: center;
                align-items: center;
                border: solid 0.5vw #9cddc2;
                background-color: #fff;
                margin-left: auto;
                margin-right: auto;
                border-radius: 3vw;
                box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
                -webkit-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
                -moz-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
                a.close.active {
                    // text-align: right;
                  width: 15vw;
                  height:10vw ;
                        font-size: 3vw;
                        background-color: red;
                        font-weight: 600;
                        padding: 3vw;
                        border-radius: 2vw;
                        margin: 3vw;
                        // border: solid 0.5vw #9cddc2;
                    
                }
                .close{
                    display: inline-block;
                    font-size: 5vw;
                    font-weight: 500;
                    // width: 10vw;
                    // height: 10vw;
                    border-radius: 3vw;
                    background-color: red;
                    color: #fff;
                }
                .anhSanPham {
                    width: 76vw;
                    height: 90vw;
                    object-fit: cover;
                    border: solid 0.1vw gray;
                    background-color: #fff;
                    border-radius: 2vw;
                }
                .tenSanPham {
                    font-size: 5vw;
                    height: 10vw;
                    width: 100%;
                    font-weight: 600;
                    margin-top: 3vw;
                    text-transform: uppercase;
                }
                .giaBan {
                    // display: flex;
                    margin-top: 2vw;
                    text-align: center;
                    justify-content: center;
                   
                    
                    .giaBanMoi {
                        color: red;
                        font-size: 6vw;
                    font-weight: 600;
                    }
                    .giaGiam{
                        display: flex;
                        gap: 2vw;
                        align-items: center;
                        justify-content: center;
                        .giabanCu {
                            text-decoration: line-through;
                            font-size: 5vw;
                            font-weight: 300;
            
                        }
                        .phanTram{
                            font-size: 5vw;
                            font-weight: 300;
                        }
                    
                }
                   
                }
                .chonShop{
                    width: 90%;
                    height: 6vw;
                    border: solid 0.1vw gray;
                    border-radius: 3vw;
                    margin: 5vw auto 3vw auto;
                    font-size: 3vw;
                    option{
                        text-align: center;
                        font-size: 3vw;
                    }
                    
                }
                .muaHang2 {
                    font-size: 5vw;
                    font-weight: 600;
                    background-color: red;
                    width: 90%;
                    // margin-top: 5vw;
                    border-radius: 4.5vw;
                    height: 10vw;
                }
              
                .tenShop{
                    margin-top: 2vw;  
                    font-size: 5vw;
                    font-weight: 600;
                }
                .viTriSanPham {
                    display: flex;
                    gap: 1vw;
                    text-align: center;
                    justify-content: center;
                    
            
                    .diachisanpham {
                        font-size: 2.5vw;
                    }
                }
                .thongtinSanPham {
                    // text-align: justify;
                    
                    padding: 3vw;
                    font-size: 3vw;
                    width: 100%;
                    word-wrap:break-word;
                    height: 20vw;
                    overflow:auto;
                    margin-bottom: 2vw
                ;
                }
              
              
            }
        }
    }
}

/* PC*/
@media screen and (min-width : 1024px) {
   
}