

/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
  .UpdateSanPham-ConTaiNer{
    font-size: 3vw;

    .quayLai-tieuDe{
        display: flex;
        font-size: 3.5vw;
        background-color: #fff;
        border-bottom: #d0d4dd 1px solid;
        position: fixed;
    
        top: 0px;
          z-index: 1;
        a{
            text-decoration: none;
        }
        .quayLai{
            color: #04aa6d;
            width: 25vw;
            text-align: left;
            line-height: 9vw;
            padding-left: 2vw;
           
        }
        .tieuDe{
          font-size: 3.9vw;
            font-weight: 600;
            color: red;
            text-align: center;
            width: 75vw;
            line-height: 9vw;
            text-transform: uppercase;
            padding-right: 25vw;
  
        }
    }
    .AddSp{
        margin: 12vw 1vw 30vw;
      .nhomTen{
          .nhomSanPham{
              width: 50vw;
              height: 8vw;
              margin: 3vw 48vw 3vw auto;
              border-radius: 1vw;
            border: solid 1px gray;
            text-align-last:center;

              option{
                text-align-last:center;
              }
  
          }
          .tenSp-hienAn{
            display: flex;
            gap:1vw;
            .tenSanPham{
                width: 79vw;
                height: 8vw;
               border-radius: 1vw;
               text-align: center;
                border: solid 1px gray;
    
            }
            .hien{
                width: 19vw;
                line-height: 8vw;
                background-color: #04aa6d;
                font-size: 3.5vw;
                color: #fff;
             font-weight: 600;
                border-radius: 1vw;

            }
            .an{
                width: 19vw;
                line-height: 8vw;
                background-color: #d0d4dd;
                font-size: 3.5vw;
                border-radius: 1vw;
                font-weight: 600;
            }
          }
        
      }
  
      .phanLoaiSanPham{
          margin: 3vw;
          font-size: 3vw;
  
      }
      .chiTietPhanLoai2{
        display: flex;
        gap:1vw;
        margin-bottom: 2vw;
        
      
        .anhDD{
                border: solid 1px gray;
                border-radius: 1vw;
                height: 24vw;
                width: 18vw;
                object-fit: cover;
                margin-bottom: 1vw;

        }
        .phanLoai-container{
            margin-top: 3vw;
            .tenDD-giaV-giaNY-giaKM{
                display: flex;
                gap:1vw;
                .tenDD-themInput{
                    margin-bottom: 2vw;
                   
                 
                    .tenDD{
                        width: 19vw;
                        font-size: 2.2vw;
                        text-align: center;
                        line-height: 4vw;
    
                    }
                    .themInput{
                        width: 19vw;
                        font-size: 2.6vw;
                        text-align: center;
                        height: 4vw;
                        border-radius: 0.5vw;
                        border: solid 1px gray;
                        text-align-last:center;
    
                    }
                }
                .them{
                    background-color: #04aa6d;
                    color: white;
                    text-align: center;
                    font-size: 3.5vw;
                    line-height: 8vw;
                    height: 8vw;
                    border-radius: 1vw;
                    width: 19vw;
                    font-weight: 600;
    
                }
                .xoa{
                    background-color: red;
                    color: white;
                    text-align: center;
                    font-size: 3.5vw;
                    line-height: 8vw;
                    height: 8vw;
                    border-radius: 1vw;
                    width: 19vw;
                    font-weight: 600;

                }
               
    
             } 
        }
         

        
       
      }
      .thongTinSanPham{
          .tieuDe{
              margin: 3vw;
              font-size: 3vw;
          }
  
      }
      .closeLuu{
          display: flex;
          gap: 5vw;
          justify-content: center;
          margin: 5vw;
          align-items: center;
          font-size: 3.5vw;
          .close{
              text-decoration: none;
              width: 28vw;
              font-size: 3.5vw;
              font-weight: 600;
             line-height: 9vw;
              border-radius: 1vw;
              background-color: red;
              color: #fff;
  
          }
          .luu{
            font-size: 3.5vw;
              font-weight: 600;
              width: 28vw;
              line-height: 9vw;
              border-radius: 1vw;
              background-color: #04aa6d;
              color: #fff;
  
          }
      }
     }

  }
}

/* PC*/
@media screen and (min-width : 1024px) {
    .UpdateSanPham-ConTaiNer{
        
    }
}