
/* Mobile & Tablet */
@media screen and (max-width : 1023px) {
   
    .pc-updateShop{
    .updateShop-container{
        margin-top: 10vw;
        margin-bottom: 20vw;
        .banner-container{
         
         .bannerShop{
            width:  100%;
            height: 68vw;
            object-fit: cover;
            border: solid 1px gray;
         }
        }
        .tenShop-TS{
            margin: 5vw 2vw;
            .tenShop{
                text-align: left;
                margin: 2vw auto;
                font-size: 3.5vw;
                font-weight: 500;
            }
            .TS{
                width: 100%;
                text-align: center;
                line-height: 8vw;
                border-radius: 1vw;
                font-size: 3vw;
                border: solid 1px gray;
            }
         }
         .diaChi-container{
            margin: 5vw 2vw;
            .diaChi{
                text-align: left;
                margin: 2vw auto;
                font-size: 3.5vw;
                font-weight: 500;
            }
            .tinh-huyen-xa{
                gap:3vw;
                display: flex;
                margin: 2vw auto;
                select, option{
                width: 30vw;
                text-align: center;
                height: 8vw;
                border-radius: 1vw;
                font-size: 2.5vw;
                border: solid 1px gray;
                }
            }
            .soNha{
                width: 96vw;
                text-align: center;
                line-height: 8vw;
                border-radius: 1vw;
                font-size: 3vw;
                border: solid 1px gray;
            }
         }
         .nganHang{
            margin: 5vw 2vw;
            font-size: 3vw;
            .chonNganHang{
                text-align: left;
                margin: 2vw auto;
                font-size: 3.5vw;
                font-weight: 500;

            }
            select, option{
                text-align: center;
                height: 8vw;
                width: 53.5vw;
                margin: 2vw 43.5vw 2vw auto;
                border-radius: 1vw;
                border: solid 1px gray;
            }
            .stk-chuTk{
               
          
                .stk{
                    display: block;
                    text-align: center;
                    height: 8vw;
                    width: 53.5vw;
                    border-radius: 1vw;
                    margin-bottom: 2vw;
                }
                .chuTk{
                    display: block;
                    text-align: center;
                    height: 8vw;
                    width: 53.5vw;
                    border-radius: 1vw;
                }
            }
         }
         .soBan-container{
            margin: 5vw 2vw;
            .nhanVien{
                text-align: left;
                margin: 2vw auto;
                font-size: 3.5vw;
                font-weight: 500;

            }
           
            .sdt-them{
                display: flex;
                margin: 5vw auto;
                gap: 2vw;
                font-size: 3vw;
                .sdt{
                    width: 40.5vw;
                    height: 8vw;
                    border-radius: 1vw;
                    border: solid 1px gray;
                    text-align: center;

                }
                .them{
                    width: 10vw;
            line-height: 8vw;
            color: #fff;
            background-color: #04aa6d;
            border-radius: 2vw;
            font-size: 6vw;
            font-weight: 600;

                }
            }
            .danhSach-xoa{
                display: flex;
                // margin: 2vw auto;
                border: solid 1px #d0d4dd ;
                font-size: 3vw;
                border-radius: 2vw;
                margin: 2vw 43.5vw auto auto;
                .danhSach{
                    width: 42.5vw;
                    line-height: 8vw;
                    text-align: center;
                    

                }
                .xoa{   
                    width: 10vw;
                    line-height: 8vw;
                    border-radius: 2vw;
                    

                }

            }
         }
         .nhanVien-container{
            margin: 5vw 2vw;
            .nhanVien{
                text-align: left;
                margin: 2vw auto;
                font-size: 3.5vw;
                font-weight: 500;

            }
           
            .sdt-them{
                display: flex;
                margin: 5vw auto;
                gap: 2vw;
                font-size: 3vw;
                .sdt{
                    width: 40.5vw;
                    height: 8vw;
                    border-radius: 1vw;
                    border: solid 1px gray;
                    text-align: center;

                }
                .them{
                    width: 10vw;
            line-height: 8vw;
            color: #fff;
            background-color: #04aa6d;
            border-radius: 2vw;
            font-size: 6vw;
            font-weight: 600;

                }
            }
            .danhSach-xoa{
                display: flex;
                margin: 2vw auto;
                border: solid 1px #d0d4dd ;
                font-size: 3vw;
                border-radius: 2vw;
                .danhSach{
                    width: 42.5vw;
                    line-height: 8vw;
                    text-align: center;
                    

                }
                .xoa{   
                    width: 10vw;
                    line-height: 8vw;
                    border-radius: 2vw;
                    

                }

            }
         }
      .close-luu{
        display: flex;
        gap: 20vw;
        font-size: 3.5vw;
        font-weight: 600;
        color: #fff;
        margin: 10vw 5vw;
        .close{
            text-decoration: none;
            width: 35vw;
            background-color: red;
            color: #fff;
            line-height: 8vw;
            border-radius: 2vw;

        }
        .luu{
            width: 35vw;
            background-color: #04aa6d;
            line-height: 8vw;
            border-radius: 2vw;
        }
      }
     }
}
}

/* PC*/
@media screen and (min-width : 1024px) {
}